:root {
    --color-background-primary: hsl(0, 0%, 7%);
    --color-text-primary: hsl(240, 1%, 59%);
    --color-white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-text-primary);
    font-family: "Sora", Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    background-color: var(--color-background-primary);
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding-inline: 2rem;
    padding-block: 2rem;
    @media only screen and (width >= 376px) and (width < 548px) {
        & {
            justify-content: center;
        }
    }
}

.personal-best {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.personal-best__label--desktop {
    @media only screen and (width < 376px) {
        & {
            display: none;
        }
    }
}

.personal-best__label--mobile {
    @media only screen and (width >= 376px) {
        & {
            display: none;
        }
    }
}

.personal-best__wpm {
    color: var(--color-white);
}

.sr-only,
.sr-only-focusable:not(:focus, :focus-within) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}
