:root {
    --color-background-primary: hsl(0, 0%, 7%);
    --color-text-primary: hsl(240, 1%, 59%);
    --color-white: hsl(0, 0%, 100%);
    --font-family: "Sora", Verdana, Geneva, Tahoma, sans-serif;
    --section-spacing: clamp(0.25rem, -0.014rem + 1.13vw, 1rem)
        clamp(0.25rem, -1.78rem + 8.64vw, 6rem);
    --font-weight-heavy: 700;
    --neutral-800: hsl(0, 0%, 15%);
    --neutral-500: hsl(240, 3%, 46%);
    --red-500: hsl(354, 63%, 57%);
    --green-500: hsl(140, 63%, 57%);
    --yellow-400: hsl(49, 85%, 70%);
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: var(--color-background-primary);
    padding: var(--section-spacing);
    color: var(--color-text-primary);
    font-family: var(--font-family);
}

@layer header {
    .header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: var(--section-spacing);
        @media only screen and (width >= 376px) and (width < 576px) {
            & {
                justify-content: center;
            }
        }
    }

    .personal-best {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }

    .personal-best__label--desktop {
        @media only screen and (width < 376px) {
            & {
                display: none;
            }
        }
    }

    .personal-best__label--mobile {
        @media only screen and (width >= 376px) {
            & {
                display: none;
            }
        }
    }

    .personal-best__wpm {
        color: var(--color-white);
        font-weight: var(--font-weight-heavy);
    }
}

@layer list {
    .list-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: var(--section-spacing);
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }

    .list--col {
        flex-direction: column;
    }

    .list--col-gap {
        column-gap: clamp(1rem, 0.71rem + 1.43vw, 2rem);
    }

    .list__item--row {
        display: flex;
        align-items: center;
    }

    .list__item--col-mobile {
        @media only screen and (width < 376px) {
            & {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .list__item-label {
        color: var(--color-text-primary);
        margin-right: clamp(0rem, -0.14rem + 0.71vw, 0.5rem);
    }

    .list__item-label--sm {
        font-size: 0.9rem;
    }

    .list__item-value {
        font-size: clamp(1rem, 0.95rem + 0.268vw, 1.2rem);
        font-weight: var(--font-weight-heavy);
        color: var(--color-white);
    }
}

@layer button {
    .button {
        font-family: inherit;
        background-color: transparent;
        color: var(--color-text-primary);
        border: none;
        cursor: pointer;
    }

    .button:hover {
        color: var(--color-white);
        font-size: 0.9rem;
        transition: font-size 0.3s ease-in;
    }

    .button--active,
    .button--active:hover {
        color: var(--red-500);
        font-size: 0.9rem;
    }

    .button--restart {
        background-color: var(--neutral-800);
        display: flex;
        align-items: center;
        gap: 5px;
        padding: clamp(0.313rem, 0.25rem + 0.28vw, 0.5rem)
            clamp(0.5rem, 0.32rem + 0.75vw, 1rem);
        color: var(--color-white);
        border-radius: 0.25rem;
    }

    .button--bg-white,
    .button--bg-white:hover {
        background-color: var(--color-white);
        color: var(--neutral-800);
    }

    .button--center {
        margin: 0 auto;
    }

    .button__icon {
        width: 1rem;
        height: 1rem;
    }

    .button__icon--black {
        filter: brightness(0);
    }
}

@layer test {
    .test {
        display: grid;
        padding: var(--section-spacing);
        grid-template-areas: "overlay";
        min-height: clamp(6.25rem, 4.46rem + 8.93vw, 12.5rem);
        margin: 0;
    }

    .test__passage {
        font-size: clamp(1rem, 0.82rem + 0.89vw, 1.63rem);
        margin: 0;
        grid-area: overlay;
        background-color: var(--neutral-800);
        border-radius: 0.25rem;
        padding: 1rem;
        line-height: 1.5;
    }

    .test__grid-item {
        grid-area: overlay;
    }

    .test__input {
        box-sizing: border-box;
        width: 100%;
        field-sizing: content;
        background-color: transparent;
        border: none;
        color: transparent;
        resize: none;
        overflow-y: hidden;
        padding: 0;
        margin: 0;
        border-radius: 0.25rem;
    }

    .test__input:focus {
        outline: 1px solid var(--neutral-500);
        outline-offset: 2px;
    }
}

@layer restart {
    .restart {
        padding: 2rem 0;
        margin: var(--section-spacing);
    }
}

@layer results {
    body:has(.dialog[open]) {
        overflow: hidden;
    }

    .dialog {
        background-color: transparent;
        border: none;
        text-align: center;
    }

    .dialog--default {
        &::backdrop {
            background-image: url("./assets/images/pattern-star-1.svg"),
                url("./assets/images/pattern-star-2.svg");
            background-repeat: no-repeat;
            background-position: right 20% center, top 20% left 20%;
            backdrop-filter: blur(5px);
        }

        @media only screen and (width < 376px) {
            &::backdrop {
                background-position: right 10% center, top 10% left 10%;
            }
        }
    }

    .dialog--best::backdrop {
        background-image: url("./assets/images/pattern-confetti.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        backdrop-filter: blur(5px);
    }

    .dialog__image {
        width: 2.5rem;
        height: 2.5rem;
    }

    .dialog__image--green-effect {
        border: 6px solid hsla(140, 63%, 57%, 0.3);
        outline: 6px solid hsla(140, 63%, 57%, 0.1);
        border-radius: 50%;
    }

    .dialog__title {
        color: var(--color-white);
    }

    .dialog__subtitle {
        color: var(--color-text-primary);
    }
}

@layer footer {
    .footer {
        padding: var(--section-spacing);
        text-align: center;
    }

    .attribution__link {
        color: var(--color-white);
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

.correct {
    color: var(--green-500);
}

.incorrect {
    color: var(--red-500);
    text-decoration: underline;
    text-underline-offset: 5px;
}
