@layer {
    :root {
        --color-background-primary: hsl(0, 0%, 15%);
        --color-text-primary: #b8c2c2;
        --color-white: hsl(0, 0%, 100%);
        --color-inaccurate: hsl(354, 63%, 57%);
        --color-accurate: hsl(140, 63%, 57%);
        --color-complementary: hsl(49, 85%, 70%);
        --color-accent: hsl(0, 87%, 94%);
        --font-family: "Sora", Verdana, Geneva, Tahoma, sans-serif;
        --font-weight-heavy: 700;
        --section-spacing-sides: clamp(0.25rem, -1.11rem + 6.79vw, 5rem);
        --section-spacing: clamp(0.25rem, 0.04rem + 1.07vw, 1rem)
            var(--section-spacing-sides);
        --max-width-breakpoint: 1440px;
        --border-radius-default: 0.25rem;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--color-text-primary);
        background-color: var(--color-background-primary);
        padding: var(--section-spacing);
        margin: 0 auto;
        font-family: var(--font-family);
        min-height: 100dvh;
        max-width: var(--max-width-breakpoint);
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        z-index: 1;
    }

    .backdrop-blur {
        position: fixed;
        inset: 0;
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
        visibility: hidden;
    }

    :has(.test__input:focus, .dialog[open]) .backdrop-blur {
        visibility: visible;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip-path: inset(50%);
        white-space: nowrap;
        border: 0;
    }

    .correct {
        color: var(--color-accurate);
    }

    .incorrect {
        color: var(--color-inaccurate);
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .cursor {
        display: inline-block;
        height: 1.6cap;
        width: 3px;
        border-radius: var(--border-radius-default);
        background-color: var(--color-complementary);
        animation: 1s infinite blink;
        vertical-align: text-top;
        margin: 0 1px;
    }

    @keyframes blink {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .keyboard-options {
        padding: 0 0 5rem;
        text-align: center;
    }

    .shortcut {
        color: var(--color-background-primary);
        background-color: var(--color-accent);
        padding: 0.15rem 0.5rem;
        border-radius: var(--border-radius-default);
    }

    .note {
        font-size: 0.8rem;
    }
}

@layer header {
    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: var(--section-spacing);
        @media only screen and (width >= 376px) and (width < 575px) {
            & {
                justify-content: center;
            }
        }
    }

    .personal-best {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }

    .personal-best__label--desktop {
        @media only screen and (width < 376px) {
            & {
                display: none;
            }
        }
    }

    .personal-best__label--mobile {
        @media only screen and (width >= 376px) {
            & {
                display: none;
            }
        }
    }

    .personal-best__wpm {
        color: var(--color-white);
        font-weight: var(--font-weight-heavy);
    }
}

@layer list {
    .list-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: var(--section-spacing);
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        transition: opacity 0.5s ease-in;
    }

    .list--hidden {
        content-visibility: hidden;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease-out,
            content-visibility 0.5s allow-discrete,
            visibility 0.5s allow-discrete;
    }

    .list--col {
        flex-direction: column;
    }

    .list--col-gap {
        column-gap: clamp(1rem, 0.71rem + 1.43vw, 2rem);
    }

    .list__item--row {
        display: flex;
        align-items: center;
    }

    .list__item--col-mobile {
        @media only screen and (width < 376px) {
            & {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .list__item--col-gap {
        column-gap: 1rem;
    }

    .list__item--sm {
        font-size: 0.8rem;
    }

    .list__item-label {
        color: var(--color-text-primary);
        margin-right: clamp(0rem, -0.14rem + 0.71vw, 0.5rem);
        font-weight: 500;
    }

    .list__item-label--sm {
        font-size: 0.9rem;
    }

    .list__item-value {
        font-size: clamp(1rem, 0.95rem + 0.268vw, 1.2rem);
        font-weight: var(--font-weight-heavy);
        color: var(--color-white);
    }

    .list__item-value--red {
        color: var(--color-inaccurate);
    }

    .list__item-value--yellow {
        color: var(--color-complementary);
    }
}

@layer textarea {
    .textarea {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
        width: 100%;
        max-height: 200px;
        transition: opacity 1s ease-in, max-height 1s ease-in;
    }

    .textarea--hidden {
        opacity: 0;
        max-height: 0;
        content-visibility: hidden;
        visibility: hidden;
        transition: opacity 0.5s ease-out, max-height 1s ease-out,
            content-visibility 1s allow-discrete, visibility 1s allow-discrete;
    }

    .textarea__input {
        min-height: clamp(5.63rem, 5.45rem + 0.89vw, 6.25rem);
        max-width: 90%;
        min-width: 200px;
        width: 90%;
        line-height: 1.5;
        color: inherit;
        background-color: transparent;
        border: 1px solid var(--color-text-primary);
        border-radius: var(--border-radius-default);
        font-family: inherit;
        font-weight: 500;
        padding: 0.5rem;
        &:focus {
            outline: none;
        }
    }
}

@layer button {
    .button {
        font-family: inherit;
        font-weight: 500;
        background-color: transparent;
        color: var(--color-text-primary);
        border: none;
        cursor: pointer;
        &:hover {
            color: var(--color-accent);
            font-size: 0.9rem;
            transition: font-size 0.3s ease-in;
        }
    }

    .button--active,
    .button--active:hover {
        color: var(--color-accent);
        font-size: 0.9rem;
        font-weight: var(--font-weight-heavy);
    }

    .button--restart {
        display: flex;
        justify-content: center;
        gap: 5px;
        border-radius: var(--border-radius-default);
        padding: 0.5rem 1rem;
        color: var(--color-white);
        &:hover {
            font-size: revert;
            color: var(--color-background-primary);
            background-color: var(--color-accent);
        }
        &:hover .button__icon {
            filter: brightness(0);
        }
    }

    .button--bg-white {
        background-color: var(--color-white);
        color: var(--color-background-primary);
    }

    .button--center {
        margin: 0 auto;
    }

    .button__icon {
        width: 1rem;
        height: 1rem;
    }

    .button__icon--black {
        filter: brightness(0);
    }
}

@layer test {
    .test {
        display: grid;
        margin: 0.5rem var(--section-spacing-sides);
        grid-template-areas: "overlay";
        line-height: 1.6;
        height: 3lh;
        overflow: hidden;
        font-size: 2rem;
        padding: 0.5rem 0;
        border-radius: var(--border-radius-default);
    }

    :has(.test__input:focus, .dialog[open]) .test__passage {
        filter: none;
    }

    .test__passage {
        display: flex;
        flex-wrap: wrap;
        grid-area: overlay;
        border-radius: var(--border-radius-default);
        padding: 0 1rem;
        margin: 0;
        height: fit-content;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        transition: filter 0.3s ease-in;
    }

    .test__whitespace {
        padding: 0 0.5rem;
    }

    .test__grid-item {
        grid-area: overlay;
        height: inherit;
    }

    .test__input {
        width: 100%;
        background-color: transparent;
        color: transparent;
        border: none;
        border-radius: var(--border-radius-default);
        resize: none;
        overflow-y: hidden;
        padding: 0;
        margin: 0;
        height: 100%;
        filter: blur(1px);
        user-select: none;
        -moz-user-select: none;
        outline: none;
    }
}

@layer restart {
    .restart {
        padding: 1rem 0;
        margin: var(--section-spacing);
    }
}

@layer dialog {
    body:has(.dialog[open]) {
        overflow: hidden;
    }

    .dialog {
        background-color: transparent;
        border: none;
        text-align: center;
    }

    .dialog--default {
        &::backdrop {
            background-image: url("./assets/images/pattern-star-1.svg"),
                url("./assets/images/pattern-star-2.svg");
            background-repeat: no-repeat;
            background-position: right 20% center, top 20% left 20%;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }

        @media only screen and (width < 376px) {
            &::backdrop {
                background-position: right 10% center, top 10% left 10%;
            }
        }
    }

    .dialog--best::backdrop {
        background-image: url("./assets/images/pattern-confetti.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    .dialog__image {
        width: 2.5rem;
        height: 2.5rem;
    }

    .dialog__image--green-effect {
        --color-green: 140deg 63% 57%;
        border: 6px solid hsl(var(--color-green) / 0.3);
        outline: 6px solid hsl(var(--color-green) / 0.1);
        border-radius: 50%;
    }

    .dialog__title {
        color: var(--color-white);
    }

    .dialog__subtitle {
        color: var(--color-text-primary);
    }
}

@layer footer {
    .footer {
        padding: var(--section-spacing);
        text-align: center;
    }

    .attribution__link {
        color: var(--color-white);
    }
}
